/* .welcome {
    padding: 20px;
    border: 1px solid #000;
    background-color: #fff;
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50%;
    top: 0%;
    overflow-y: auto;
    
  }

  .Horizontalline {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin-bottom: 100%;
    margin-top: 1%;
  }

  .iconContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; 
  }
  
  .closeIcon {
    top: 10px;
    left: 3%;
    cursor: pointer;
    position: absolute;
    color: #ccc; 
  }

  .refreshIcon {
    top: 10px;
    left: 10%;
    cursor: pointer;
    position: absolute;
    color: #ccc;
  }

  .scrollToTopIcon {
    cursor: pointer;
    top: 10px;
    left: 18%;
    position: absolute;
    color: #ccc;
  }

  .scrollToBottomIcon{
    cursor: pointer;
    top: 10px;
    left: 26%;
    position: absolute;
    color: #ccc;
  }

  .closeIcon:hover{
    color: black;
  }

  .refreshIcon:hover{
    color: black;
  }

  .scrollToTopIcon:hover{
    color: black;
  }

  .scrollToBottomIcon:hover {
    color: black;
  }


  
 */
