/* 

.card {
    width: 90%;
    padding: 20px;
    margin: 20px;
    border:1px solid #fff;
    border-radius: 10px; 
    background-color: #fff;
    position: relative;
    top: 65px; 
    margin-left: 77px;
}   



  .Button {
    background-color: #52ab98;
    padding: 11px;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    margin-top: 10px;
  }
  
  .menuButton {
    background-color: #fff;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    margin-left: 9px;
    border: 2px solid #FF0000;
    color: #FF0000;
  
  }
  


  
  .row {
    margin-bottom: 8px;
  }
  
  .label {
    font-weight: 500;
    margin-right: 5px;
  }


  .menuIcon {
    position: absolute;
    top: 5px;
    right: 20px;
    cursor: pointer;
  }


.viewButton {
  position: absolute;
  top: 40%;
  right: 4%;
  cursor: pointer;
  color: #008000;
}


.actions {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.actions label {
  margin-left: 5px;
  margin-right: 20px;
}

.deleteButton {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.deleteButton:hover {
  background-color: #ff1a1a;
}



 */
