/* 



.detailsContainer {
    background-color: #fff;
    border:1px solid #000;
    padding: 20px;
    border-radius: 5px;
    width: 30%;
    position: fixed;
    top: 40%;
    z-index: 20;
    left: 40%;
    max-height: 80vh; 
    overflow-y: auto;
  }
  
  .detailsContainer h2 {

    color: #000;
    font-size: 25px;
  }
  
  .detailsContainer p {
    margin: 10px 0;
  }
  
  .requestButton {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  .closeButton {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 9px;
  }
  
  .detailsContainer button:hover {
    background-color: #0056b3;
  }
   */