/* .AddSubtaskPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border: 1px solid #000;
    max-height: 80vh; 
    overflow-y: auto;
    width: 40%;
    }

    .h3 {
        margin-bottom: 10px;
        font-size: 20px;
      }
    
    .closeIcon {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      font-size: 20px;
    }
    
    .form {
      display: flex;
      flex-direction: column;
    }
    
    .TextField {
      margin-bottom: 15px;
      width: 100%;        
    } */